$standardMargin: 10px;
$standardPadding: 5px;
$complex: 1 * (2 + 2*3) + (4 - 1) * 5;

div {
    font-family: "comic" + " sans" + " ms";
    width: 100px + 2*$standardPadding;
    line-height: 1.2em;
    margin: 2px*5px (-2*$standardMargin);
    padding: $complex + px;
}
