$foo: test;
$bar: color;
$baz: whatever;
$num: 2;

@mixin test($a, $b) {
    line-height: 2em;
    ##{$a}.foo {
        color: red;
        content: $b;
    }
}

div#quench_#{$foo} {
    background-#{$bar}: #fff;
    color: #000000; 
}
h#{$num} {
    font-size: (6-$num)*10px;
    div.#{$baz} {
        font-weight: bold;
    }
    div.#{$bar}_#{$baz} {
        font-weight: bold;
    }
}
div.test {
    @include test(pink,floyd);
}
