$foo: test;
$bar: color;
$baz: whatever;
$num: 2;

div#quench_#{$foo} {
    background-#{$bar}: #fff;
    color: #000000; 
}
h#{$num} {
    font-size: (6-$num)*10px;
    div.#{$baz} {
        font-weight: bold;
    }
    div.#{$bar}_#{$baz} {
        font-weight: bold;
    }
}

.topPanel {
    background-image: url('newgfx/header_bg.png');
    width: 100%;
    height: 93px;
    
    .navigationPanel {
        clear: both;
        float: right;
        width: 500px;
        margin-top: 20px;

        @mixin menuLink($name, $width) {
            td.#{$name} {
                width: $width;
            }
            a.link.#{$name} {
                background-image: 'newgfx/menu_' + $name + '.png';
                width: $width;
                height: 10px;
            }
        }

        @include menuLink(home, 34px);
        @include menuLink(news, 110px);
    }
}

