div#quench_test {
    background-color: #fff;
    color: #000000;
}

h2 {
    font-size: 40px;
}

h2 div.whatever {
    font-weight: bold;
}

h2 div.color_whatever {
    font-weight: bold;
}

.topPanel {
    background-image: url('newgfx/header_bg.png');
    width: 100%;
    height: 93px;
}

.topPanel .navigationPanel {
    clear: both;
    float: right;
    width: 500px;
    margin-top: 20px;
}

.topPanel .navigationPanel td.home {
    width: 34px;
}

.topPanel .navigationPanel a.link.home {
    background-image: 'newgfx/menu_home.png';
    width: 34px;
    height: 10px;
}

.topPanel .navigationPanel td.news {
    width: 110px;
}

.topPanel .navigationPanel a.link.news {
    background-image: 'newgfx/menu_news.png';
    width: 110px;
    height: 10px;
}

